<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.naver.bluesangil7.rental.service.RentalMapper">
	
	<!-- 대여상태 데이터 가져오기 -->
	<select id="selectRentalstate" resultType="blog.naver.bluesangil7.rental.service.Rentalstate">
		SELECT 
			rentalstate_no,
			rentalstate_name
		FROM rentalstate
		ORDER BY rentalstate_no ASC
	</select>
	
	<!-- 대여 처리를 위한 정보 가져오기 -->
	<select id="selectRentalInfo" resultType="blog.naver.bluesangil7.member.service.Member">
		SELECT
			member.member_id,
			memberlevel.memberlevel_payment
		FROM member
		INNER JOIN memberlevel
			ON member.memberlevel_no = memberlevel.memberlevel_no
		WHERE
			member_id = #{memberId}
	</select>
	
	<!-- 대여 처리하기 -->
	<insert id="bookRental" parameterType="blog.naver.bluesangil7.rental.service.Rental">
		INSERT INTO rental(
			book_code,
			rentalstate_no,
			member_id,
			rental_start,
			rental_end,
			rental_payment
		) VALUES(
			#{bookCode},
			1,
			#{memberId},
			now(),
			(select adddate(now(), INTERVAL 7 day)),
			#{rentalPayment}
		)
	</insert>
	
	<!-- 도서 코드로 조회해서 도서정보 가져오기 -->
	<select id="bookReturnSearch" parameterType="int" resultType="blog.naver.bluesangil7.rental.service.Rental">
		SELECT 
			 rental.book_code,
			 rental.rental_payment,
			 book.book_name,
			 member.member_name,
			 memberlevel.memberlevel_name	 
		FROM rental
		INNER JOIN book 
			ON rental.book_code = book.book_code
		INNER JOIN member 
			ON rental.member_id = member.member_id
		INNER JOIN memberlevel
			ON 	member.memberlevel_no = memberlevel.memberlevel_no
		WHERE 
			rental.book_code = #{bookCode}		
	</select>
	
	<!-- 도서반납 처리하기 -->
	<update id="bookReturn" parameterType="blog.naver.bluesangil7.rental.service.Rental">
		UPDATE rental SET 
			rental_payment = 0,
			rentalstate_no = 2
		WHERE 
			book_code = #{bookCode}
	</update>
	
	<!-- 도서 대여목록 조회하기 -->
	<select id="bookRentalList" resultType="blog.naver.bluesangil7.rental.service.Rental">
		SELECT 
			rental.rental_code,
			book.book_name,
			rental.book_code,
			rental.rental_start,
			member.member_name,
			rental.rental_end,
			rental.rental_payment
		FROM rental
		JOIN book 
			ON rental.book_code = book.book_code
		JOIN member
			ON rental.member_id = member.member_id
		WHERE
			rentalstate_no = 1 	
	</select>
	
</mapper>